In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from IPython.display import display

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\tmam9\OneDrive - UniGroup, Inc\Desktop\Bootcamp\Module6_PythonAPIs\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,4,Atuona,PF,77.20,broken clouds,-9.8000,-139.0333,Villa Enata
2,5,Ohara,JP,74.82,clear sky,35.2500,140.3833,Sakigake
3,7,Puerto Rondon,CO,84.45,scattered clouds,6.2805,-71.1000,Urbanización Santa Clara
4,8,Misratah,LY,79.54,clear sky,32.3754,15.0925,Almasa Hotel

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,4,Atuona,PF,77.20,broken clouds,-9.8000,-139.0333,Villa Enata
2,5,Ohara,JP,74.82,clear sky,35.2500,140.3833,Sakigake
3,7,Puerto Rondon,CO,84.45,scattered clouds,6.2805,-71.1000,Urbanización Santa Clara
4,8,Misratah,LY,79.54,clear sky,32.3754,15.0925,Almasa Hotel

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))