In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from IPython.display import display

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\tmam9\OneDrive - UniGroup, Inc\Desktop\Bootcamp\Module6_PythonAPIs\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,4,Atuona,PF,77.20,broken clouds,-9.8000,-139.0333,Villa Enata
2,5,Ohara,JP,74.82,clear sky,35.2500,140.3833,Sakigake
3,7,Puerto Rondon,CO,84.45,scattered clouds,6.2805,-71.1000,Urbanización Santa Clara
4,8,Misratah,LY,79.54,clear sky,32.3754,15.0925,Almasa Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
#locations = vacation_df[["Lat", "Lng"]]
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#marker_layer = gmaps.marker_layer(locations)
#fig.add_layer(marker_layer)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig
# Call the figure to plot the data.
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.columns

Index(['City_ID', 'City', 'Country', 'Max Temp', 'Current Description', 'Lat',
       'Lng', 'Hotel Name'],
      dtype='object')

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Hinton"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Hinton"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Rocky Mountain House"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Sylvan Lake"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Drumheller"]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
print(start)

(53.4001, -117.5857)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end,
waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,633,Hinton,CA,71.55,broken clouds,53.4001,-117.5857,Econo Lodge & Suites
1,394,Rocky Mountain House,CA,71.71,scattered clouds,52.3668,-114.9188,Walking Eagle Inn & Lodge
2,111,Sylvan Lake,CA,71.17,clear sky,52.3168,-114.0853,Best Western Plus Chateau Inn Sylvan Lake
3,31,Drumheller,CA,78.13,broken clouds,51.4617,-112.7101,Ramada by Wyndham Drumheller Hotel & Suites

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))